.search-style{
    text-align: center;
    width:100%;
}

#search{
    margin-right: 0.5em;
}

#container{
    display: inline-block;
    position: relative;
    left: 5rem;
}



input{
    font-size: 1em;
}

