.main-login{

    width: 100%;
    height: 500px;
    padding-top: 2em;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(https://thumbs.dreamstime.com/b/supermarket-cart-loaded-cardboard-boxes-sales-goods-concept-trade-commerce-online-shopping-high-delivery-order-134531493.jpg);

}

.login-style{
width: 23em;
    height: 20em;
    text-align: center;
    margin: 5em 32em;
    border-radius: 0.5em;
    background-color: whitesmoke;
}

input{
    margin-top: 0.8em;
    margin-left: 0.3em;
}

button{
    margin-top: 1em;
    font-size: 1em;
    padding: 0.5em 1em;
    color: whitesmoke;
    background-color: rgb(83, 34, 129);
    cursor: pointer;
}

button:hover{
    background-color:rgb(109, 68, 148) ;
}

#fr{
    margin-top: 2em;
}

#email{
    margin-top: 2em;
}

img{
    width: 6em;
    height: 6em;
    margin-top: 2em;
    scale: 1.2;
    border-radius: 26em;
}