.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
   padding-left:1em ;
   padding-right: 2em;
   padding-top: 0.2em;

  

   h1{
    color: #EAEAEA;
    font-family: 'Creepster', cursive;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.3vh;
   }


   img{
    border-radius: 50%;
    width: 12rem;
    scale: 0.8;
    
margin-bottom: 2%;
   }
   
}

button{
    color: whitesmoke;
    font-size: 1em;
    text-decoration: none;
    outline: none;
}

button:focus{
  outline: 0;
}

#fst{
    margin-left: 15em;
}
.header button {
    font: inherit;
    background-color: rgb(170, 141, 197);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    
    border-radius: 6px;
    cursor: pointer;
  }
  
  .header a:hover {
    background-color: #2f1044;
    color:whitesmoke;
    text-decoration: none;
    
  }
  
  .header button:hover {
    background-color: #2f1044;
    color:whitesmoke;
  }


  h1{
  
    color: #2d1436;
  }

a{
  text-decoration: none;
}